<!--
  More about ngFor
  https://angular.io/docs/ts/latest/api/common/index/NgFor-directive.html
-->
<div class="row">
  <div class="col-md-6">
    <ul>
      <li *ngFor="let item of items; let index = index; let first = first; let last = last, let even = even; let odd = odd">
        <label [ngClass]="{del: item.done === true, first: first, last: last, even: even, odd: odd}">
        <input type="checkbox" checked="{{item.done === true ? 'checked' : ''}}" (click)="todoService.changeStatus(item)" id="item_{{item.id}}" />
          {{item.text}}, index: {{index}}
      </label>
        <span *ngIf="item.done" class="label label-success">(Done)</span>
        <span class="label label-info" (click)="viewDetail(item)">Detail</span>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
