<h1>
  {{title}}
</h1>

<ul class="nav nav-tabs">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/settings">Settings</a></li>
</ul>

<a bsButton defaultClass="warning" hoverClass="info">Button</a>
<div>
  <app-custom-form name="customForm" [(ngModel)]="login" (change)="userChange($event)" [disabled]="disabledCustomForm"></app-custom-form>
  <button class="btn btn-primary" (click)="disabledCustomForm = !disabledCustomForm">Toogle Disabled</button>
  <button class="btn btn-primary" (click)="showLogin()">Show Login</button>
</div>
<router-outlet></router-outlet>
